                <div class="panel panel-default">
                    <div class="panel-heading">
                       <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion3" href="#filterPanel3">User Details</a>
                             <span class="pull-right panel-collapse-clickable" data-toggle="collapse" data-parent="#accordion3" href="#filterPanel3">
                                <i class="glyphicon glyphicon-chevron-down"></i>
                             </span>
                       </h4>
                     </div>
                     <div id="filterPanel3" class="panel-collapse panel-collapse collapse">
                        <div class="panel-body">
                            <ct-table [records]="users">
                            </ct-table>
                        </div>
                    </div>
                </div>